<!DOCTYPE html>

<html></html>

<head>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>this site was created by moshe braunshtein</p>
    <img class="portrait" src="/img/RB2_3143.JPG">
    </div>

    {{>footer}}
</body>

